<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--在容器文件中配置Bean-->
    <!--bean元素的作用是：当Spring框架加载的时候，Spring就会自动创建该Bean对象，并放入内存-->
    <bean id="helloService" class="com.stan.service.HelloService">
        <!--这里体现出注入的概念，把属性的值注入到Bean对象中-->
        <property name="myNickName" value="张三"></property>
        <!--在helloService中引用配置的另外一个bean，比如userDao-->
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userDao" class="com.stan.dao.UserDao">
        <property name="name" value="XiaoMing"></property>
    </bean>
</beans>